<div id="services_view_container">
	<div class= "row card_container_row">
		<div class="col-md-3">
			<div class="card_service card1 animated fadeInLeft">
				<div class="image_container">
					<%= image_tag "book_a_share_ride.jpeg", :class => "share_ride" %>
				</div>
				<div class="content_container">
					<ul>
						<li> Save money, share a cab to your destination</li>
						<li> Call cab according to your requirement </li>
						<li> Select your cab from multiple options available </li>
					</ul>
				</div> 
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card_service card2 animated fadeInLeft">
				<div class="image_container">
					<%= image_tag "motercycler.jpg", :class => "share_ride" %>
				</div>
				<div class="content_container">
					<ul>
						<li> Save money, take a bike ride to destination </li>
						<li> Call bike according to your requirement </li>
						<li> Select your bike from multiple options available </li>
					</ul>
				</div>
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div> 
			</div>
		</div>
		<div class="col-md-3">
			<div class="card_service card4 animated fadeInRight">
				<div class="image_container">
					<%= image_tag "taxi.png", :class => "share_ride" %>
				</div>
				<div class="content_container">
					<ul>
						<li> Book a cab ride to destination </li>
						<li> Select your cabs according to price and comfort</li>
						<li> Select your cabs based upon the time they will reach you and the location of cabs</li>
					</ul>
				</div>
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div> 
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="card_service card3 animated fadeInRight">
				<div class="image_container">
					<%= image_tag "auto_rikshaw.png", :class => "share_ride" %>		
				</div>
				<div class="content_container">
					<ul>
						<li> Book a rikshaw to my destination </li>
						<li> select your start to end location  </li>
						<li> select your rikshaw based upon the time to reach and his current location </li>
						<li> confirm your ride , track live location of rikshaw </li>
					</ul>
				</div>
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div> 
			</div>
		</div>
	</div>
	<div class="row card_container_row">
		

		<div class="col-md-3">
			<div class="card_service card3 animated fadeInLeft">
				<div class="image_container">
					<%= image_tag "pickup.jpg", :class => "share_ride" %>		
				</div>
				<div class="content_container">
					<ul>
						<li> Book a Pickup at your home </li>
						<li> select from a company employee or public offered service </li>
						<li> save money with available options of delivery, send parcel on time</li>
						<li> Live track your parcel on the way</li>
					</ul>
				</div>
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div> 
			</div>
		</div>

		<div class="col-md-3">
			<div class="card_service card3 animated fadeInLeft">
				<div class="image_container">
					<%= image_tag "share_car.jpg", :class => "share_ride" %>		
				</div>
				<div class="content_container">
					<ul>
						<li> Start sharing my vehicle</li>
						<li> select location or select default </li>
						<li> select kms within your reach to start your share with </li>
						<li> live track all people locating for share cabs</li>
					</ul>
				</div>
				<div class="booking_button_container">
					<p class="add_booking"> Book </p>		
				</div> 
			</div>
		</div>

	</div>
</div>